<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Doença</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <a href="/" class="voltar">← Voltar</a>
        <h1>Consultar Doença</h1>

        <p>Você deseja pesquisar uma doença por:</p>      
            <a href="pesquisarNomePopular.ejs">
            <button type="button">Nome Popular</button>
        </a><br>

        <a href="/consultar/nome-tecnico">
            <button type="button">Nome Técnico</button>
        </a><br>

        <a href="/consultar/cid">
            <button type="button">CID</button>
        </a><br>

        <a href="/consultar/id-patogeno">
            <button type="button">ID Patógeno</button>
        </a><br>
    </div>
</body>
</html>
